#gamesboard-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}


.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 20px;
    height: 20px;
    /* border: solid 1px black;
    box-sizing: border-box; */
}




.cookie-container {
    width: 220px;
    height: 60px;
    margin: 30px 0;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.cruncher {
    background-color: purple;
}

.mac-o-dame {
    background-color: aqua;
}

.swirler {
    background-color: red;
}

.nutty-whip {
    background-color: green;
}

.crumbler {
    background-color: brown;
}

.cruncher-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.mac-o-dame-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.swirler-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.nutty-whip-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.crumbler-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

/* .cookie {
    width: 100px;
    height: auto;
}  */