body {
    padding: 40px;
    text-align: center;
    /* background-color: lightblue;
     */
     background-image: url(./images/Add+a+heading+\(1\).gif);
     background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


.crumble-name {
    font-size: 70px;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.crumble-cookie img {
    max-width: 100%;
    max-height: 100%;
    block-size: 0;
    padding: 0;
}


.button.start {
    border: none;
    background-color: inherit;
    padding: 0;
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: rgb(54, 8, 222);
    justify-content: center;
    font-weight: bold;
}


.button.start:hover {
    background: #f2c248;
}

.w3-animate-zoom {
    color: #333;
    margin: 20px;
    font-size: 50px;
    font-weight: bold;
}


/* .option-container {
    width:500px;
    height:200px;
    background-color: lightskyblue;
}

.cruncher {
    background-image: ;
}
.cruncher-preview {
    width:20px;
    height:10px;
    margin:3px;

} */